<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVE</title>
</head>
<body class="bg-light">
<%- include("header.ejs"); %>
    
<video width="500" autoplay id="video"></video>


</body>
<script src="live.js"></script>
</html>